.button {
  margin: auto;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  padding: 0 20px;
  border: 2px solid #29a77f;
  outline: none;
  cursor: pointer;
  background-color: #2ab48a;
}
