.button {
  margin: auto;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  padding: 0 20px;
  border: 2px solid #29a77f;
  outline: none;
  cursor: pointer;
  background-color: #2ab48a;
  transition: all 0.5s;
  &:hover {
    background-color: #2a94b4;
    border: 2px solid #296aa7;
  }
  &:disabled {
    background-color: #bbb;
    border-color: #aaa;
  }
}
