.commentItem {
  margin: 20px 0;
  height: 90px;
  display: flex;
  align-items: flex-start;
  background-color: #fff;
  padding: 10px 10px 0;
  .avater {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin-top: 5px;
    background-color: #aaa;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
  }

  .contentContainer {
    flex-grow: 1;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .author {
      font-size: 18px;
      color: rgba(0, 0, 0, 0.85);
      letter-spacing: 0.64px;
    }
    .content {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.65);
      letter-spacing: 0.5px;
    }
    .dateContainer {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.25);
      letter-spacing: 0.5px;

      .buttonContainer {
        float: right;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.35);
        letter-spacing: 0.5px;
        .buttonItem {
          margin-left: 20px;
          & > :nth-child(1) {
            cursor: pointer;
          }
          & > span {
            color: #000;
            margin-left: 3px;
          }
        }
      }
    }
  }
}
