.baseLayout {
  .header {
    height: 60px;
  }
  .menuBar {
    height: 50px;
    background-color: #000;
    position: relative;
    z-index: 100;
  }
  .content {
    height: 1000px;
    padding: 20px 3px;
  }
}
