.baseLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  .header {
    height: 60px;
  }
  .menuBar {
    height: 50px;
    background-color: #000;
    position: relative;
    z-index: 100;
  }
  .breadCrumb {
    display: block;
    text-align: start;
    margin: 0;
  }
  .content {
    flex-grow: 0;
    // padding: 20px 3px 0 3px;
    position: relative;
  }
}
