.baseLayout {
  height: 100%;
  overflow: auto;
  .header {
    height: 88px;
  }
  .img {
    width: 100%;
    height: 0px;
    padding-bottom: 40%;
    background-color: #aaa;
  }
  .contentContainer {
    width: 1400px;
    height: 1800px;
    margin: -300px auto 0;
    background-image: linear-gradient(
      180deg,
      rgba(252, 252, 252, 0.7) 0%,
      #f8f8f8 100%
    );
    padding: 40px;

    .menuContainer {
      text-align: start;
      & > div {
        text-align: center;
        background-color: #313433;
        user-select: none;
        cursor: pointer;
        border-radius: 4px;
        border-radius: 4px;
        display: inline-block;
        line-height: 48px;
        margin-right: 40px;
        height: 48px;
        width: 123px;
        font-size: 18px;
        color: #ffffff;
        letter-spacing: 0.64px;
        &:hover {
          background: #2ab48a;
        }
      }
    }

    .articleContainer {
      text-align: start;
      .articleItem {
        padding: 16px 22px;
        margin-top: 40px;
        width: 420px;
        height: 210px;
        background: #ffffff;
        border-radius: 4px;
        border-radius: 4px;
        .title {
          font-size: 18px;
          color: rgba(0, 0, 0, 0.85);
          letter-spacing: 0.64px;
        }
        .content {
          overflow: auto;
          height: 106px;
          margin-top: 10px;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.65);
          letter-spacing: 0.5px;
        }
        .bottom {
          .dateContainer {
          }
          .buttonContainer {
            float: right;
            &>span {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}
