$headerHeight: 60px;

.appHeader {
  height: 100%;
  margin: 0;
  .itemIcon {
    font-size: 25px;
    margin-left: 10px;
    cursor: pointer;
  }
  .headerItem {
    line-height: $headerHeight;
    height: $headerHeight;
    float: right;
    position: relative;
    user-select: none;
    margin-right: 10px;
    .loginSignup {
      margin-right: 10px;
      cursor: pointer;
      user-select: none;
      font-weight: bold;
    }
    .itemContainer {
      height: $headerHeight;
      display: flex;
      align-items: center;
      padding: 0 10px;
    }
    .userContainer {
      cursor: pointer;
      line-height: $headerHeight;
      height: $headerHeight;
      padding: 0 10px;
      display: flex;
      align-items: center;
      margin-right: 10px;

      .username {
        font-size: 14px;
      }
    }
    &:hover .settingContainer {
      transform: scaleY(1);
    }
    .settingContainer {
      z-index: 200;
      transition: 250ms;
      transform-origin: top;
      transform: scaleY(0);
      background-color: #eee;
      border: 0.5px solid #ccc;
      box-shadow: 0 1px 1px 1px #888;
      position: relative;
      width: 100px;
      .userSetting {
        height: 40px;
        line-height: 40px;
        margin: 0;

        &:hover {
          background-color: rgba($color: #000000, $alpha: 0.2);
        }
      }
    }
  }
}
