$totalHeight: 68px;

.appHeader {
  height: $totalHeight;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #2ab48a;

  label {
    span {
      color: #fff;
      width: 99px;
      height: $totalHeight;
      line-height: $totalHeight;
      user-select: none;
      display: inline-block;
      cursor: pointer;
      font-size: 18px;
      &:hover {
        background: #313433;
      }
    }
    input[type='radio'] {
      display: none;
      &:checked + span {
        background: #313433;
      }
    }
  }
}
