.articleItem {
  flex-shrink: 0;
  display: inline-block;
  padding: 16px 22px;
  margin-top: 26px;
  width: 454px;
  height: 200px;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 4px;
  border-radius: 4px;
  .title {
    display: block;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.85);
    letter-spacing: 0.64px;
    font-weight: bold;
  }
  .content {
    overflow: auto;
    height: 106px;
    margin-top: 10px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
    letter-spacing: 0.5px;
  }
  .bottom {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    letter-spacing: 0.5px;
    .dateContainer {
      font-size: 14px;
    }
    .buttonContainer {
      float: right;
      & > span {
        user-select: none;
        cursor: pointer;
        margin-left: 15px;
        width: 200px;
        & > :first-child {
          color: #bfbfbf;
        }
        & > span {
          margin-left: 3px;
        }
      }
    }
  }
}
