.articleItem {
  max-width: 700px;
  height: 87px;
  border: 0.5px solid #eee;
  margin-bottom: 20px;
  text-align: start;
  display: flex;
  justify-content: stretch;

  .img {
    width: 120px;
    height: 100%;
    background-color: #eee;
    box-shadow: 0 0 5px 3px #ddd;
    margin-right: 20px;
  }

  .summary {
    flex-grow: 1;
    margin-right: 20px;


    .title {
      display: inline-block;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
    }

    .createTime {
      font-size: 14px;
      color: #888;
      margin: 8px 0;
    }

    .abstract {
      font-size: 13px;
      color: #888;
    }
  }
}