.comment {
  display: block;
  margin: 10px 0;
  padding: 5px 10px;
  background-color: #f8f8f8;

  .firstLine {
    font-size: 14px;
    .userName {
      font-weight: bold;
    }
    .date {
    }
    .react {
      float: right;
      & > span {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
          user-select: none;
        }
      }
      .reply {
        margin-right: 10px;
      }
      .upVote {
      }
    }
  }
  .secondLine {
    margin: 5px 0 0 1em;
  }
}
