.articleView {
  text-align: start;
  display: flex;
  height: 100%;

  li {
    list-style: none;
  }

  .toc {
    text-align: start;
    flex-shrink: 0;
    height: 100%;
    overflow: auto;
    float: left;
    height: 70%;
    position: fixed;
    display: flex;
    align-items: center;

    .tocContent {
      width: 300px;
      height: 100%;
      overflow: auto;
      display: inline-block;
      background-color: #eee;
      &.invisible {
        width: 0;
      }
      ul {
        padding-left: 10px;
        margin-top: 0;
      }
      .tocItem {
        color: #000;
        text-decoration: none;
        font-size: 14px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    .tocButton {
      float: right;
      width: 20px;
      height: 50px;
      flex-shrink: 0;
      background-color: #eee;
      border: 1px solid #ccc;
      border-left: hidden;
      border-radius: 0 5px 5px 0;
      line-height: 50px;
      text-align: center;
      cursor: pointer;
      &:hover {
        background-color: #ddd;
      }
    }
  }

  .mockToc {
    width: 320px;
    flex-shrink: 0;
    padding-left: 5px;
    &.invisible {
      width: 0;
    }
  }

  .markdown {
    margin: auto;
    .comment {
    }
  }
}
