.articleView {
  .toc {
    .tocContent {
      display: inline-block;
    }
    .tocButton {
      display: inline-block;
      width: 20px;
      height: 50px;
      background-color: #aaa;
    }
  }
}