@keyframes slide {
  0%,
  15% {
    margin-left: 0;
  }
  20%,
  35% {
    margin-left: -100%;
  }
  40%,
  55% {
    margin-left: -200%;
  }
  60%,
  75% {
    margin-left: -300%;
  }
  80%,
  95% {
    margin-left: -400%;
  }
}

.homePage {
  overflow: hidden;
  margin: auto;
  max-width: 1024px;
  .imgContainer {
    height: 337px;
    cursor: pointer;
    width: 500%;
    animation: slide 20s ease-out infinite;
    .slide {
      background-color: #eee;
      box-sizing: border-box;
      width: 20%;
      height: 100%;
      float: left;
    }
  }
  .articleList {
    margin-top: 20px;
    margin-left: 5px;
  }
}
