$menuHieght: 50px;

.appMenu {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $menuHieght;

    .menuItem {
        margin: 0 2ex;
        width: 120px;
        height: $menuHieght;
        line-height: $menuHieght;
        cursor: pointer;

        &:hover {
            background-color: #888;
        }
    }
}