$menuHieght: 50px;

.appMenu {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $menuHieght;

  .link {
    flex-shrink: 1;
    text-decoration: none;
    color: #fff;
  }
}
