$menuHeight: 50px;

.menuItem {
  width: 120px;
  height: $menuHeight;
  line-height: $menuHeight;
  cursor: pointer;
  user-select: none;

  &:hover .subMenuContainer {
    transform: scaleY(1);
  }
  .link {
    display: inline-block;
    width: 120px;
    height: $menuHeight;
    text-decoration: none;
    color: #fff;
  }
  .subMenuContainer {
    transform: scaleY(0);
    transition: 200ms;
    transform-origin: top;

    .subMenu {
      height: $menuHeight;
      color: #fff;
      background-color: #000;

      &:hover {
        background-color: #888;
      }
    }
  }

  &:hover {
    background-color: #888;
  }
}
