$menuHeight: 50px;

.menuItem {
  width: 120px;
  height: $menuHeight;
  line-height: $menuHeight;
  cursor: pointer;
  user-select: none;
  position: relative;
  z-index: 200;

  .subMenu {
    height: $menuHeight;
    color: #fff;
    background-color: #000;

    &:hover {
      background-color: #888
    }
  }

  &:hover {
    background-color: #888;
  }
}